.carbon-theme-options .cf-container__tabs {
  padding: 0;
  border-bottom: 0; }
  @media screen and (min-width: 769px) {
    .carbon-theme-options .cf-container__tabs {
      float: left;
      min-height: 500px; } }
  @media screen and (min-width: 1360px) {
    .carbon-theme-options .cf-container__tabs {
      min-width: 300px; } }
.carbon-theme-options .cf-container__tabs-item {
  flex-grow: 1;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 10px 12px;
  border-bottom: 1px solid #eee; }
  .carbon-theme-options .cf-container__tabs-item:hover {
    background: #f6f6f6; }
.carbon-theme-options .cf-container__tabs-item--current {
  background: #eee; }
.carbon-theme-options .cf-container__fields {
  margin: 0;
  border-left: 1px solid #eee;
  padding: 16px 24px;
  align-content: flex-start; }
  @media screen and (min-width: 769px) {
    .carbon-theme-options .cf-container__fields {
      float: left;
      min-height: 500px; } }
.carbon-theme-options .cf-container .cf-field {
  padding: 16px 0;
  border-right: 0; }

.menu-item-settings .cf-container .cf-field {
  border: 0;
  padding: 6px 0; }

#woocommerce-product-data .hndle label {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: start;
  margin: 8px 0; }
#woocommerce-product-data .hndle select {
  margin-left: 0 !important; }

.wp-fluent-admin #postbox-container-2 .postbox:not(.hide-if-js) {
  border: 0;
  box-shadow: none;
  background: transparent;
  display: flex;
  align-items: flex-start; }
  .wp-fluent-admin #postbox-container-2 .postbox:not(.hide-if-js) + .postbox {
    border-top: 1px solid #ddd;
    padding-top: 12px; }
.wp-fluent-admin #postbox-container-2 .postbox-header {
  border: 0;
  padding-top: 8px;
  width: 260px;
  flex-shrink: 0; }
.wp-fluent-admin #postbox-container-2 .hndle {
  padding: 0; }
.wp-fluent-admin #postbox-container-2 .handle-actions {
  display: none; }
.wp-fluent-admin #postbox-container-2 .inside {
  padding: 0;
  flex-grow: 1; }
  .wp-fluent-admin #postbox-container-2 .inside p:first-child {
    margin-top: 8px; }
.wp-fluent-admin #postbox-container-2 #minor-publishing-actions {
  padding-left: 0; }
.wp-fluent-admin #postbox-container-2 #preview-action {
  position: absolute;
  bottom: 9px;
  left: 84px; }
.wp-fluent-admin #postbox-container-2 .csf-metabox {
  margin: 0; }
  .wp-fluent-admin #postbox-container-2 .csf-metabox .csf-field {
    padding: 0; }
    .wp-fluent-admin #postbox-container-2 .csf-metabox .csf-field .csf-fieldset,
    .wp-fluent-admin #postbox-container-2 .csf-metabox .csf-field .csf-title {
      width: 100%;
      float: none; }
    .wp-fluent-admin #postbox-container-2 .csf-metabox .csf-field .csf-title {
      margin-bottom: 8px; }
.wp-fluent-admin #postbox-container-2 #major-publishing-actions {
  background: transparent;
  border: 0;
  padding: 0; }
.wp-fluent-admin #postbox-container-2 #publishing-action {
  height: 52px;
  position: relative;
  float: none; }
  .wp-fluent-admin #postbox-container-2 #publishing-action .button-primary {
    position: absolute;
    left: 0;
    top: 12px; }
.wp-fluent-admin #postbox-container-2 #delete-action {
  margin-left: 216px; }
.wp-fluent-admin #postbox-container-2 .misc-pub-section {
  padding: 6px 0 8px; }
.wp-fluent-admin #postbox-container-2 .closed .inside {
  display: block !important; }

/*# sourceMappingURL=main.css.map */
